@import "variables.css";

/* Resetting styles */

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

:root {
  font-family: var(--font-default);
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}

  ul[role="list"],
  ol[role="list"] {
    list-style: none;
  }