:root {
    --font-default: 'Montserrat', 'Open Sans', 'Lato', Intel, Arial, sans-serif;
    --color-primary: #1da0a2;
    --color-dark: #25252a;
    --color-dark-darken20: #1d1d22;
    --color-dark-lighten20: #2c2c32;
  }
  